#ThePost{
  box-shadow: 3px 3px 10px 10px #C2C2C2;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 7px;
}
#TheTitle{
  text-align:center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#Comment{
  text-align:center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#PageTitle{
  position:fixed;
  z-index: -1;
  top: 20px;
  text-align:center;
  width: 200px;
  opacity: 0.5;
}
#TheContent{
  text-indent: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
body:before
{
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
#MenuBG{
  position: fixed;
  z-index: 1;
  background-color: #00B7FF;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#00B7FF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#00B7FF')";
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#00B7FF));
  background: -moz-linear-gradient(top, #fff,  #00B7FF);
  border-radius: 7px;
  top: 0%;
  float:center;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height: 35px;
  background:
}
.MenuButtons {
color: white;
text-shadow: 0px 0px 2px black; 
}
a {
color: black;
}
#UsrAccountR a:hover{
text-shadow: 0px 0px 10px white;
color: white;
border-radius: 15px;
}
#UsrAccountR a{
color: grey;
}
a:hover{
text-decoration: none;
color: black;
}
body{
width: 100%;
height: 100%;  
}
.MenuButtons:hover{
color: black;
text-decoration: none;
-webkit-transition:text-shadow 0.5s ease-in-out;
-moz-transition:text-shadow 0.5s ease-in-out;
-o-transition:text-shadow 0.5s ease-in-out;
-ms-transition:text-shadow 0.5s ease-in-out;
transition:text-shadow 0.5s ease-in-out;
text-shadow: 0px 0px 10px black;
text-shadow: 0px 0px 0px white;
}
#Signup{
background-color: #00C4FF;
margin-right: auto;
margin-left: auto;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#007BFF');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#007BFF')";
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#007BFF));
background: -moz-linear-gradient(top, #fff,  #007BFF);
width: 500px;
border-radius: 30px;
color: black;
box-shadow: 0 0 25px black;
}
#Signup:hover{
transition:border-radius 0.5s ease-in-out;
border-radius: 0px;
}
#Benefits{
width: 275px;
margin-left: auto;
margin-right: auto;
height: auto;
}
#Signup a{
color: white;
}
#Signin {
position:fixed;
right: 0px;
}
#Signin .ForgotPass{
position:fixed;
top: -4px;
right: 0px;
}
#Signin .BlueLoginButton{
width: 90px;
}
.BlueLoginButton{
color: white;
background: #525252;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#525252', endColorstr='#303030');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#525252', endColorstr='#303030')";
background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#303030));
background: -moz-linear-gradient(top, #525252,  #303030);
  box-shadow:
  1px 1px 2 0 #000,
  4px 4px 2 0 #000,
  5px 5px 2 0 #000,
  6px 6px 2 0 #000;
border-radius: 10px;
top: 10px;
line-height: 10px;
height: 20px;
}
.BlueLoginButton:hover{
color: white;
background: #525252;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#525252', endColorstr='#303030');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#525252', endColorstr='#303030')";
background: -webkit-gradient(linear, left top, left bottom, from(#525252), to(#303030));
background: -moz-linear-gradient(top, #525252,  #303030);
  box-shadow:
  6px 6px 2 0 blue,
  7px 7px 2 0 blue,
  8px 8px 2 0 blue,
  9px 9px 2 0 blue;
-webkit-transition:border-radius 0.5s ease-in-out;
-moz-transition:border-radius 0.5s ease-in-out;
-o-transition:border-radius 0.5s ease-in-out;
-ms-transition:border-radius 0.5s ease-in-out;
transition:border-radius 0.5s ease-in-out;
border-radius: 1px;
}
#CopyRight{
  position: fixed;
  width: 100%;
  height: 19px;
  background: white;
  opacity: 0.5;
  box-shadow: 3px 3px 10px 10px #000;
  text-align: center;
  margin:-0px 0px; padding:0px;
  bottom: 0px;
  z-index: 1;
}

#PrivacyPolicy{
  position: fixed;
  right: 0px;
  z-index: 1;
}

#Credits{
  position: fixed;
  left: -20px;
  z-index: 1;
}

#UserInfo{
  position: fixed;
  text-align: center;
  top: 5px;
  width: 200px;
  height: 35px;
  right: 0px;
  z-index: 1;
}
.UserLinkHeader{
color: black;
}
#logomenu{
left:0px;
  width: 175px;
  height: auto;
}
#Members{
  position:absolute;
  z-index: -1;
  box-shadow: 3px 3px 10px 10px #C2C2C2;
  border-radius: 7px;
  float:left;
  width: 47%;
  left: 0px;
  height: auto;
}
#RMembers{
  position:absolute;
  z-index: -1;
  box-shadow: 3px 3px 10px 10px #C2C2C2;
  border-radius: 7px;
  float:right;
  width: 47%;
  right: 15px;
  height: auto;
}
#GroupImage{
  position:absolute;
  z-index: -1;
  box-shadow: 3px 3px 10px 10px #C2C2C2;
  border-radius: 35px;
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  left: 150px;
}
#MenuOfLoggedUser{
position: fixed;
top: 0px;
right: 10px;
}
#NameOfLoggedUser{
position: fixed;
top: 5px;
right: 60px;
width: auto;
}
#GroupInfo{
  position:absolute;
  box-shadow: 3px 3px 10px 10px #C2C2C2;
  width: 45%;
  background: rgba(255,255,255,0.8); 
  border-radius: 10px;
  left: 425px;
  top: 60px;
  height: auto;
}
#GroupInfoInnerUL{
  width: 85%;
  height: auto;
}
#GroupDetails{
  background: rgba(194, 194, 194,0.5);
  width: 90%;
  height: auto;
}
#GroupDetailsText{
  width: 90%;
  text-overflow:clip;
}
#GroupPostForm{
  width: 100%;
  border-radius: 7px;
  height: auto;
}
#TheGroupPostsLeft{
  position:absolute;
  width: 350px;
  background: rgba(255,255,255,0.5);
  top: 380px;
  left: 15%;
  text-indent: 10px;
  border-radius: 7px;
}
#TheGroupPostsRight{
  position:absolute;
  width: 350px;
  top: 380px;
  background: rgba(255,255,255,0.5);
  left: 50%;
  text-indent: 10px;
  border-radius: 7px;
}
#TheGroupPostsBoxes{
  position:relative;
  outline: black double 2px;
  width: 350px;
  height:auto;
  text-indent: 10px;
  border-radius: 7px;
}
#GroupLikeGroup{
height: 200px;
background: white;
box-shadow: inset 0 0 25px rgba(0,213,255,0.5);
background: rgba(255,255,255,0.8); border-radius: 10px;
}
#GroupsLikeGroup{
width: 90%;
margin-left: auto;
margin-right: auto;
}
#MemberLikeFriend{
width: 100%;
height: 150px;
box-shadow: inset 0 0 25px rgba(255,136,0,0.5);
background: rgba(255,255,255,0.8); border-radius: 10px;
margin-left: auto;
margin-right: auto;
}
#MembersLikeFriend{
width: 90%;

margin-left: auto;
margin-right: auto;
}
#MakeADiscussion{
width: 50%;
height 20%;
margin-left: auto;
margin-right: auto;
}
#DiscussionsHub{
width: 45%;
margin-left: auto;
margin-right: auto;
}
#DiscussionsP{
position:relative;
background: white;
width 75%;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
}

#AuthorD{
color: black;
width 75%;
text-align:center;
position:relative;
}
#ContentD{
  text-indent: 10px;
  width: 75%;
  color: black;
  margin-left: auto;
  margin-right: auto;
}